/* .messages {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  } */
/* 
  .item {
    display: flex;
    margin-bottom: 35px;
  }

.sign {
  
    width: 40px;
    height: 40px;
    background-color: #B68C19;
    border-radius: 50%;
  }

  
  .mess_text {
    margin-top: 0;
    margin-left: 15px;
    color: tomato;
    
  } */