.app-wrapper {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: " h h"
                        "n con";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;                      
}

.app-wrapper-content {
  grid-area: con;
  overflow-y: auto;
  background-color: #FFFCA6;
  
}
